name: Latest Qiita post workflow
on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update-readme-with-Qiita:
    name: Update this repo's README with latest Qiita posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          comment_tag_name: 'QIITA'
          feed_list: 'https://qiita.com/digiangler/feed.atom'
