name: Latest zenn post workflow
on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update-readme-with-zenn:
    name: Update this repo's README with latest Zenn posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          comment_tag_name: 'ZENN'
          feed_list: 'https://zenn.dev/digiangler/feed'
