name: Latest Zenn post workflow
on:
  schedule: # Run workflow automatically
    - cron: '0 * * * *' # Runs every hour, on the hour
  workflow_dispatch: # Run workflow manually (without waiting for the cron to be called), through the GitHub Actions Workflow page directly
permissions:
  contents: write # To write the generated contents to the readme

jobs:
  update-readme-with-zenn:
    name: Update README with latest Zenn posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in Zenn posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          comment_tag_name: 'ZENN'
          feed_list: 'https://zenn.dev/digiangler/feed'
